body {
	font-family: 'Arial', sans-surf;
    background-size: cover;
}	

#wrapper {
		max-width: 960px;
		margin: 0 auto;
		background-color: ;
		padding: 32px;
}

 header {
 		background-color: #59d5d8;
 		height: 150px;
 		padding: 4px;
 }

  header h1 {
  	text-transform: uppercase;
  	text-align: center;
  	color: #fff;
  	line-height: 50px;
  }

   header h2 {
   			font-variant: small-caps;
   			text-align: center;
   			color: #fff;
   }

   .main_menu {
   			padding: 5px 0 5px 0;
   			text-align: center;
   			line-height: 32px;
   			background-color: #818181;
   }

   ul.main_menu  {
   				margin-top: 15px;
   }

   .main_menu li {
   				display: inline;
   				padding: 0 10px 0 10px;
   				font-size: 16px;
   }

   .main_menu a {
   				text-decoration: none;
   				color: #fff:
   				padding: 8px;
   				font-variant: small-caps;
   }

   .main_menu a:hover {
   			color: #59d5d8;
   }

   #left {
   	float: left;
   	width: 200px;
   	background: #fff;
   }


#center {
	float: left;
	width: 400px
	background-color: #fff;
	margin-left: 250px;
}

   #right {
   	float: right;
   	width: 200px;
   	background-color: #fff;
   }

   #login {
    margin-left: 600px;
   }

   #shop_left {
         float: left;
         width: auto;
         height: 300;
   }



   #shop_right {
        float: right;
   }

